<html>
    <head>
        <title>BugTracker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script>
            //navegador + relogio
            document.onreadystatechange = () => {
                if(document.readyState === 'interactive') {
                    document.getElementById('userAgent').value = window.navigator.userAgent
                    document.getElementById('userDate').value = new Date()
                }
            }
        </script>
    </head>
    <body>

        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center" >
                <a class="navbar-brand" href="/"><img src="/images/bugtracker.png" class="img-fluid" alt="Bug Tracker" /></a>
            </nav>
        </div>

        <div class="container">
            <div class="alert alert-success" role="alert">
                Seu problema foi reportado com sucesso. Muito obrigado. <a href="/">Voltar e reportar mais um problema</a>
             </div>
             <img src="./images/thank-you.jpg" class="img-fluid"/>
        </div>

        <div class="container-fluid text-center">
            <footer>
                <span class="text-muted">  Feito por <a href="https://github.com/franciscojsc">@franciscojsc</a></span>
            </footer>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       
    </body>
</html>